.camposTexto {
    width: 330px;
    height: 22px;
    border-radius: 6px;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
    /*Ajustar espacios del contenido l h*/
    padding: 14px 16px;
    font-size: 17px;
    border: 1px solid #dddfe2;
    margin: 6px;
}

.formulario {
    background-color: white;
    /*valor del margen superior*/
    margin: 40px 0 0 0;
    border-radius: 8px;
    padding-bottom: 24px;
    padding-top: 10px;
}

.vertical {
    /*Apilar los elementos en columnas*/
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 396px;
}

.principalContainer {
    background-color: rgb(240, 242, 245);
    display: flex;
    justify-content: center;
}


.container {
    background-color: rgb(240, 242, 245);
    display: flex;
    min-height: 630px;
    padding-top: 90px;
}

footer {
    background-color: white;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    width: 500px;
    margin-top: 0px;
}

img {
    width: 321px;
    height: 106px;
    margin: -30px;
    padding: 112px 0 16px 0;
}

body {
    background-color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#startSesion {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    height: 48px;
    padding: 0 16px;
    width: 332px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    margin-top: 7px;
}

#createAcc {
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    height: 48px;
    padding: 0 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}

div {
    /*Visualizar en forma de bloque*/
    display: block;
}

footer {
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.divlogo {
    width: 580px;
    vertical-align: top;
}

.liPrincipal {
    list-style: none;
    padding-right: 10px;
    padding-inline-start: 0px;
}

.principalFooter {
    /*Capacidad de envoltura*/
    display: flex;
    flex-wrap: wrap;
}

ul {
    padding-inline-start: 0px;
    margin-bottom: 0px;
}

li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #8a8d91;
}

li {
    line-height: 1.6;
}

.secondaryFooter {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.liSecondary {
    list-style: none;
    padding-inline-start: 0px;
    padding-right: 20px;
}

.divFooter {
    width: 980px;
    display: block;
    padding-top: 20px;
}

.pConfig {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 28px;
}

.forgotPass {
    color: rgb(24, 119, 242);
    margin-top: 16px;
}

.metaBrand {
    font-size: 11px;
    list-style: none;
    color: #737373;
}

.contentCurve {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}

.separeteForm {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    display: block;
    width: 350px;
}

b {
    cursor: pointer;
}

.bLanguage {
    font-size: 14px;
    border: solid #ccd0d5 1px;
    border-radius: 3px;
    cursor: pointer;
    padding: 1px 9px;
}